
header {
  background: rgb(151, 144, 144);
}

body {
  background: rgb(185, 183, 183);
}

img {
  width: auto;
  height: 150px;
}

.navbar-nav {
  padding: 10px;
  margin-left: auto;
}

.nav-link {
  color: black;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: yellow;
  color:blue; 
}

.col {
  background-color: lightgrey;
  width: auto;
  border: 5px solid rgb(115, 119, 115);
  padding: 50px;
  margin: 20px;
}
#box {
  background-color: lightgrey;
  width: auto;
  border: 5px solid rgb(115, 119, 115);
  padding: 50px;
  margin: 20px;
}

#title {
  text-align: left;
  padding: 10px;
  margin: 10px;
}

#cap {
  text-align: center;
}

#art {
  text-align: center;
}

#movs {
  text-align: center;
}
