.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border-radius: 25px;
} 

header {
  text-align: center;
  margin: 0px 100px 0px 100px;
}

h3 {
  text-align: center;
}

img {
  width: auto;
  height: 150px;
}

ul {
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

